#codecov
#coverage
cvxpy
numba>=0.60
numpy>=2.0
matplotlib>=3.7
pandas>=2.0
pylint
scikit-learn>=1.5
scipy>=1.10
#sphinx==2.2.1 # needed for docs
#sphinx-rtd-theme==0.4.3 # needed for docs
statsmodels>=0.14
joblib
